# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(25)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [4]:
unique_school = school_data_complete["School ID"].unique()
Total_school=(len(unique_school))
Total_school

15

In [5]:
unique_student = school_data_complete["Student ID"].unique()
Total_student=(len(unique_student))
Total_student

39170

In [6]:
Total_budget = school_data["budget"].sum()
Total_budget
'${:,.2f}'.format(Total_budget)

'$24,649,428.00'

In [7]:
Ave_math_score = school_data_complete["math_score"].mean()
Ave_math_score
'{:,.2f}'.format(Ave_math_score)

'78.99'

In [8]:
Ave_reading_score = school_data_complete["reading_score"].mean()
Ave_reading_score
'{:,.2f}'.format(Ave_reading_score)

'81.88'

In [9]:
overall_ave_score= (Ave_math_score + Ave_reading_score)/2
overall_ave_score
'{:,.2f}'.format(overall_ave_score)

'80.43'

In [8]:
school_data_complete['pass'] = np.where(school_data_complete['math_score']>=70,"pass","fail")
pass_math = school_data_complete.groupby(['pass'])['pass'].count()
pass_math['pass']

29370

In [9]:
Perc_math_score = pass_math/Total_student*100
Perc_math_score["pass"]
'{:,.2f}'.format(Perc_math_score["pass"])

'74.98'

In [10]:
school_data_complete['pass'] = np.where(school_data_complete['reading_score']>=70,"pass","fail")
pass_reading = school_data_complete.groupby(['pass'])['pass'].count()
pass_reading['pass']

33610

In [11]:
Perc_reading_score = pass_reading/Total_student*100
Perc_reading_score["pass"]
'{:,.2f}'.format(Perc_reading_score["pass"])

'85.81'

In [12]:
df_summery = [{"Perc_math_score":"74.98","Perc_reading_score":"85.81",
               "Overall_ave_score":"80.43","Ave_reading_score":"81.88",
               "Ave_math_score":"78.99","Total_budget":"$24,649,428.00",
               "Total_student":"39170","Total_school":"15"}]
Final_summery = pd.DataFrame(df_summery)
Final_summery

,Ave_math_score,Ave_reading_score,Overall_ave_score,Perc_math_score,Perc_reading_score,Total_budget,Total_school,Total_student
0,78.99,81.88,80.43,74.98,85.81,"$24,649,428.00",15,39170

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [13]:
a = school_data_complete.groupby(['school_name'])['school_name','type'].max()

#b = school_data_complete.groupby(['school_name'])['school_name','type','grade'].max()

ss = pd.DataFrame(school_data_complete.groupby(['school_name','type'])['school_name','type','budget','size'].mean())

# per student budget
x = pd.DataFrame(ss['budget']/ss['size'])

# counting Average Math Score & Average Reading Score

m = pd.DataFrame(school_data_complete.groupby(['school_name','type'])['school_name','type','math_score','reading_score'].mean())

# counting % Passing Math
pass_math = school_data_complete[school_data_complete['math_score']>=70]
all_math = school_data_complete[school_data_complete['math_score']>=0]

pm = pd.DataFrame(pass_math.groupby(['school_name','type'])['math_score'].count())
am = pd.DataFrame(all_math.groupby(['school_name','type'])['math_score'].count())
fullpm = pd.concat([pm,am],axis=1)
fullpm.columns = ['passcount','allcount']
xx = pd.DataFrame(fullpm['passcount']/fullpm['allcount']*100)

# counting % passing reading
pass_read = school_data_complete[school_data_complete['reading_score']>=70]
all_read = school_data_complete[school_data_complete['reading_score']>=0]

pr = pd.DataFrame(pass_read.groupby(['school_name','type'])['reading_score'].count())
ar = pd.DataFrame(all_read.groupby(['school_name','type'])['reading_score'].count())
fullpr = pd.concat([pr,ar],axis=1)
fullpr.columns = ['passcount','allcount']
xy = pd.DataFrame(fullpr['passcount']/fullpr['allcount']*100)

#counting Overall Passing Rate (Average of the above two)
opr = (xx+xy)/2



y = pd.concat([a.reset_index(drop=True),ss.reset_index(drop=True),x.reset_index(drop=True),m.reset_index(drop=True),xx.reset_index(drop=True),xy.reset_index(drop=True),opr.reset_index(drop=True)],axis=1)
y.columns = ['School Name','Type','Budget','Total Students','Per Student Budget','Avg Math Score','Avg Reading Score','% Passing Math','% Passing Reading','Overall Passing Rate']
y

,School Name,Type,Budget,Total Students,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Bailey High School,District,3124928,4976,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
1,Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
2,Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
3,Ford High School,District,1763916,2739,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
4,Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
5,Hernandez High School,District,3022020,4635,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
6,Holden High School,Charter,248087,427,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
7,Huang High School,District,1910635,2917,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
8,Johnson High School,District,3094650,4761,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
9,Pena High School,Charter,585858,962,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
10,Rodriguez High School,District,2547363,3999,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
11,Shelton High School,Charter,1056600,1761,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
12,Thomas High School,Charter,1043130,1635,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
13,Wilson High School,Charter,1319574,2283,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
14,Wright High School,Charter,1049400,1800,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [14]:
Top_performing_schools = y.sort_values("Overall Passing Rate",ascending=False)
Top_performing_schools.head(5)

,School Name,Type,Budget,Total Students,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
1,Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
12,Thomas High School,Charter,1043130,1635,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
9,Pena High School,Charter,585858,962,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
4,Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
13,Wilson High School,Charter,1319574,2283,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [15]:
new_index = Top_performing_schools.reset_index(drop=True)
new_index

,School Name,Type,Budget,Total Students,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
1,Thomas High School,Charter,1043130,1635,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
2,Pena High School,Charter,585858,962,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
3,Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
4,Wilson High School,Charter,1319574,2283,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
5,Wright High School,Charter,1049400,1800,583.0,83.682222,83.955000,93.333333,96.611111,94.972222
6,Shelton High School,Charter,1056600,1761,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
7,Holden High School,Charter,248087,427,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
8,Bailey High School,District,3124928,4976,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
9,Hernandez High School,District,3022020,4635,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
10,Ford High School,District,1763916,2739,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
11,Johnson High School,District,3094650,4761,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
12,Huang High School,District,1910635,2917,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
13,Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
14,Rodriguez High School,District,2547363,3999,637.0,76.842711,80.744686,66.366592,80.220055,73.293323

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [16]:
Bottom_performing_schools = y.sort_values("Overall Passing Rate",ascending=True)
Bottom_performing_schools.head(5)

,School Name,Type,Budget,Total Students,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
10,Rodriguez High School,District,2547363,3999,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
2,Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
7,Huang High School,District,1910635,2917,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
8,Johnson High School,District,3094650,4761,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
3,Ford High School,District,1763916,2739,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [17]:
new_index = Bottom_performing_schools.reset_index(drop=True)
new_index

,School Name,Type,Budget,Total Students,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Rodriguez High School,District,2547363,3999,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
1,Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
2,Huang High School,District,1910635,2917,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
3,Johnson High School,District,3094650,4761,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
4,Ford High School,District,1763916,2739,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
5,Hernandez High School,District,3022020,4635,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
6,Bailey High School,District,3124928,4976,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
7,Holden High School,Charter,248087,427,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
8,Shelton High School,Charter,1056600,1761,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
9,Wright High School,Charter,1049400,1800,583.0,83.682222,83.955000,93.333333,96.611111,94.972222
10,Wilson High School,Charter,1319574,2283,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
11,Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
12,Pena High School,Charter,585858,962,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
13,Thomas High School,Charter,1043130,1635,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
14,Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,95.586652

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [18]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [19]:
y["Spending Ranges"] = pd.cut(y["Per Student Budget"], spending_bins, labels=group_names)
y.head()

,School Name,Type,Budget,Total Students,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,Spending Ranges
0,Bailey High School,District,3124928,4976,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$615-645
1,Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$585
2,Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$615-645
3,Ford High School,District,1763916,2739,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$615-645
4,Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$615-645

In [20]:
Spending_group = y.groupby("Spending Ranges")

# Get the average of each column within the GroupBy object
Spending_group[["Avg Math Score", "Avg Math Score", "% Passing Math", "% Passing Reading","Overall Passing Rate"]].max()

,Avg Math Score,Avg Math Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Ranges,,,,,
<$585,83.803279,83.803279,94.133477,97.039828,95.586652
$585-615,83.839917,83.839917,94.594595,95.945946,95.270270
$615-645,83.418349,83.418349,93.392371,97.308869,95.290520
$645-675,77.289752,77.289752,66.752967,81.316421,73.807983

## Scores by School Size

* Perform the same operations as above, based on school size.

In [21]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [22]:
y["Size Ranges"] = pd.cut(y["Total Students"], size_bins, labels=group_names)
y.head()

,School Name,Type,Budget,Total Students,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,Spending Ranges,Size Ranges
0,Bailey High School,District,3124928,4976,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$615-645,Large (2000-5000)
1,Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$585,Medium (1000-2000)
2,Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$615-645,Large (2000-5000)
3,Ford High School,District,1763916,2739,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$615-645,Large (2000-5000)
4,Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$615-645,Medium (1000-2000)

In [23]:
Size_group = y.groupby("Size Ranges")

# Get the average of each column within the GroupBy object
Size_group[["Avg Math Score", "Avg Math Score", "% Passing Math", "% Passing Reading","Overall Passing Rate"]].max()

,Avg Math Score,Avg Math Score,% Passing Math,% Passing Reading,Overall Passing Rate
Size Ranges,,,,,
Small (<1000),83.839917,83.839917,94.594595,96.252927,95.270270
Medium (1000-2000),83.682222,83.682222,94.133477,97.308869,95.586652
Large (2000-5000),83.274201,83.274201,93.867718,96.539641,95.203679

## Scores by School Type

* Perform the same operations as above, based on school type.

In [24]:
Type2 = {'Type': ['District','Charter']}
yy =pd.DataFrame(Type2,columns=['Type'])
yy.loc[y.Type == 'District', 'yes'] = 1
yy.loc[y.Type != 'District', 'yes'] = 2
yy
dfy = pd.DataFrame(y)
dfy
dfy['Type Range'] = np.where(dfy['Type']== 'Charter',2,1)
dfy

,School Name,Type,Budget,Total Students,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,Spending Ranges,Size Ranges,Type Range
0,Bailey High School,District,3124928,4976,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$615-645,Large (2000-5000),1
1,Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$585,Medium (1000-2000),2
2,Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$615-645,Large (2000-5000),1
3,Ford High School,District,1763916,2739,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$615-645,Large (2000-5000),1
4,Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$615-645,Medium (1000-2000),2
5,Hernandez High School,District,3022020,4635,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,$645-675,Large (2000-5000),1
6,Holden High School,Charter,248087,427,581.0,83.803279,83.814988,92.505855,96.252927,94.379391,<$585,Small (<1000),2
7,Huang High School,District,1910635,2917,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,$645-675,Large (2000-5000),1
8,Johnson High School,District,3094650,4761,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,$645-675,Large (2000-5000),1
9,Pena High School,Charter,585858,962,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,$585-615,Small (<1000),2
10,Rodriguez High School,District,2547363,3999,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,$615-645,Large (2000-5000),1
11,Shelton High School,Charter,1056600,1761,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,$585-615,Medium (1000-2000),2
12,Thomas High School,Charter,1043130,1635,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,$615-645,Medium (1000-2000),2
13,Wilson High School,Charter,1319574,2283,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,<$585,Large (2000-5000),2
14,Wright High School,Charter,1049400,1800,583.0,83.682222,83.955000,93.333333,96.611111,94.972222,<$585,Medium (1000-2000),2

In [26]:
Type_bins = [0, 1, 2]
group_names = ["District", "Charter"]

In [27]:
dfy["Type Range"] = pd.cut(dfy["Type Range"],Type_bins,labels=group_names)
dfy

,School Name,Type,Budget,Total Students,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,Spending Ranges,Size Ranges,Type Range
0,Bailey High School,District,3124928,4976,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$615-645,Large (2000-5000),District
1,Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$585,Medium (1000-2000),Charter
2,Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$615-645,Large (2000-5000),District
3,Ford High School,District,1763916,2739,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$615-645,Large (2000-5000),District
4,Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$615-645,Medium (1000-2000),Charter
5,Hernandez High School,District,3022020,4635,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,$645-675,Large (2000-5000),District
6,Holden High School,Charter,248087,427,581.0,83.803279,83.814988,92.505855,96.252927,94.379391,<$585,Small (<1000),Charter
7,Huang High School,District,1910635,2917,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,$645-675,Large (2000-5000),District
8,Johnson High School,District,3094650,4761,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,$645-675,Large (2000-5000),District
9,Pena High School,Charter,585858,962,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,$585-615,Small (<1000),Charter
10,Rodriguez High School,District,2547363,3999,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,$615-645,Large (2000-5000),District
11,Shelton High School,Charter,1056600,1761,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,$585-615,Medium (1000-2000),Charter
12,Thomas High School,Charter,1043130,1635,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,$615-645,Medium (1000-2000),Charter
13,Wilson High School,Charter,1319574,2283,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,<$585,Large (2000-5000),Charter
14,Wright High School,Charter,1049400,1800,583.0,83.682222,83.955000,93.333333,96.611111,94.972222,<$585,Medium (1000-2000),Charter

In [28]:
type_group = dfy.groupby("Type Range")

 #Get the average of each column within the GroupBy object
type_group["Avg Math Score", "Avg Math Score", "% Passing Math", "% Passing Reading","Overall Passing Rate"].max()

,Avg Math Score,Avg Math Score,% Passing Math,% Passing Reading,Overall Passing Rate
Type Range,,,,,
District,77.289752,77.289752,68.309602,81.933280,74.306672
Charter,83.839917,83.839917,94.594595,97.308869,95.586652

In [ ]:
You must include a written description of at least two observable trends based on the data.

1)Charter schools have higher overall passing rates, though their budget/student is lower than District schools.

2)Overall passing rate is higher in Medium size schools than others.